In [1]:
# for loop, while loop

In [2]:
# for loop

In [3]:
my_list = [10,20,30,40,50,60,70]

In [4]:
my_list[0] / 5 * 2

4.0

In [5]:
my_list[1] / 5 * 2

8.0

In [6]:
for number in my_list: 
    print(number)

10
20
30
40
50
60
70

In [7]:
for num in my_list:
    print(num / 5 * 2 )

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [8]:
for x in my_list: 
    new_number = x / 5 * 2
    print(new_number)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [9]:
print("for loop started")
for x in my_list:
    new_number = x / 5 * 2
    print(new_number)
print("for loop ended")

for loop started
4.0
8.0
12.0
16.0
20.0
24.0
28.0
for loop ended

In [10]:
my_list

[10, 20, 30, 40, 50, 60, 70]

In [11]:
# sadece altıya tam bölünebilenleri yazdırsın, for döngüsü olarak yazdırılsın

In [12]:
my_list = [10, 20, 30, 40, 50, 60, 70]

for number in my_list:
    if number % 6 == 0:
        print(number)

30
60

In [13]:
# listede 2 tam bölünenleri yazdır yani çift

In [14]:
number_list = [1,2,3,4,5,6,7,8,9,10]

In [15]:
for number in number_list:
    if number % 2 == 0:
        print(number)

2
4
6
8
10

In [16]:
my_string = "tuncay şahin"

In [17]:
for c in my_string:
    print(c)

t
u
n
c
a
y

ş
a
h
i
n

In [18]:
my_tuple = (10,20,30,40,50,60,70)

In [19]:
for num in my_tuple:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [20]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [21]:
len(my_new_list)

4

In [22]:
my_new_list [0]

('a', 'b')

In [23]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [24]:
# daha kolay yolu eleman çağırmada

In [25]:
for (x,y) in my_new_list:
    print(y)

b
d
f
h

In [26]:
my_tuple_list = [(0,1,2),(3,4,5,),(6,7,8),(9,10,11)]

In [27]:
len(my_tuple_list)

4

In [28]:
for (x,y,z) in my_tuple_list:
    print(x)

0
3
6
9

In [29]:
# setlerde

In [30]:
my_set = {1,2,3,4,5}

In [31]:
my_set

{1, 2, 3, 4, 5}

In [32]:
len(my_set)

5

In [33]:
type(my_set)

set

In [34]:
for num in my_set:
    print(num)

1
2
3
4
5

In [35]:
# sözlüklerde

In [36]:
my_dictionary = {"k1":100,"k2":200,"k3":300}

In [37]:
for element in my_dictionary:
    print(element)

k1
k2
k3

In [38]:
my_dictionary.keys ()

dict_keys(['k1', 'k2', 'k3'])

In [39]:
my_dictionary.values ()

dict_values([100, 200, 300])

In [40]:
my_dictionary.items ()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [41]:
# for döngüsünde iki farklı şekilde

In [42]:
for (key,value) in my_dictionary.items():
    print(value)

100
200
300

In [43]:
for num in my_dictionary.values():
    print(num)

100
200
300

In [44]:
 my_list = [10,20,30,40,50,60,70]

In [45]:
# Break continue pass

In [46]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")
        break

10
20
30
40
yes

In [47]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")
        continue

10
20
30
40
yes
50
60
70

In [48]:
my_list = [10,20,30,40,50,60,70]

In [49]:
for number in my_list:
    if number == 40:
        continue
    print(number)

10
20
30
50
60
70

In [50]:
for num in my_list:
    pass

In [ ]:
# while

In [51]:
x = 0

In [52]:
while x < 10:
    print(x)
    x = x + 1

0
1
2
3
4
5
6
7
8
9

In [63]:
print ("while loop started")
while x < 10:
    print(x)
    x = x + 1 
print("while loop ended")

while loop started
while loop ended