In [1]:
class Person():
    name = ""
    age = 12
    gender = ""
    
    #method, initializer
    def __init__(self):
        print("init executed")

In [2]:
myList = list()

In [3]:
type(myList)

list

In [4]:
tuncay = Person()

init executed

In [5]:
type(tuncay)

__main__.Person

In [6]:
tuncay.name ="Tuncay Sahin"

In [7]:
atlas = Person()

init executed

In [8]:
type(tuncay)

__main__.Person

In [9]:
type(atlas)

__main__.Person

In [10]:
class Person():
    name = ""
    age = 12
    gender = ""
    
    def __init__(self,nameInput,ageInput,genderInput):
        self.name = nameInput
        self.age = ageInput
        self.gender = genderInput

In [11]:
tuncay = Person("tuncay",34,"male")

In [12]:
type(tuncay)

__main__.Person

In [13]:
tuncay.name

'tuncay'

In [14]:
tuncay.age

34

In [15]:
tuncay.gender

'male'

In [16]:
# farklı methodlarda da çalışıyor

In [17]:
class Person():
    name = ""
    age = 12
    gender = ""
    job = ""
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender

In [18]:
tuncay = Person("tuncay",34,"male")

In [19]:
type(tuncay)

__main__.Person

In [20]:
tuncay.name

'tuncay'

In [21]:
tuncay.age

34

In [22]:
tuncay.gender

'male'

In [23]:
tuncay.job = "scientist"

In [24]:
tuncay.job

'scientist'

In [29]:
class Dog():
    year = 7
    
    def __init__(self,age):
        self.age = age
        
    def humanAge(self):
        return self.age * self.year #Dog.year = self.year

In [30]:
myDog = Dog(3)

In [31]:
myDog.age

3

In [32]:
myDog.humanAge()

21

In [38]:
class Dog():
    year = 7
    
    def __init__(self,age):
        self.age = age
        self.dogHumanAge = age * self.year
        
    def humanAge(self):
        return self.age * self.year

In [39]:
myDog = Dog(3)

In [40]:
myDog.age

3

In [41]:
myDog.humanAge()

21

In [43]:
myDog.dogHumanAge

21

In [44]:
class Dog():
    year = 7
    
    def __init__(self,age):
        self.age = age
        self.dogHumanAge = age * self.year
        print("dog instance")
        
    def humanAge(self):
        return self.age * self.year

In [45]:
barley = Dog(3)

dog instance

In [46]:
barley.dogHumanAge

21